<ul class="nav nav-sidebar">
    <li><h5>{{settings.helpTitle}}</h5></li>
    <li ng-repeat="article in docArticles" ng-class="{'active':isActiveDoc(article.urlPath)}"><a
            ng-href="{{article.urlPath}}">{{article.title}}</a></li>
    <li><h5>RDF Entities</h5></li>
    <li ng-repeat="rh in rdfHelp | filter : rdfHelp.triples.predicate"
        ng-class="{'active':isActiveElement(rh.typeName)}" )><a ng-href="{{hrefBuild('entity/'+rh.typeName)}}"> <i
            class="icon-chevron-right"></i>{{rh.typeName|cleanType}} ({{rh.instanceCount}}) </a></li>
</ul>