<div class="row offset1">
    <div class="row">
        <section id="{{entity.typeName}}">

            <h2> {{entity.typeName|cleanType}}
                <!-- Possible values -->
                <div ng-if="entity.values.length > 0" class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Values<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="value in entity.values"><a href="">{{value}}</a></li>
                    </ul>
                </div>
                <span class="badge badge-info">{{entity.instanceCount}}</span>
                <!--<button type="button" ng-click="openPopup('visgraph', entity.typeName)"><i class="icon-retweet"></i></a></button>-->
            </h2>

            <blockquote>
                {{entity.rdfsComment}}
            </blockquote> 

<!--             
            <markdown md-src="docs/{{entity.typeName|cleanType:true}}.md" markdown-opts="{silent:true}" />
 -->

            <div class="row">
                <!-- Reverse Triplets (parents) -->
                <div class="col-xs-12 col-md-5 vertical-middle ">
                    <div ng-repeat="parent in entity.parentTriples | filter : rdfHelp.triples.predicate">
                        <p><code><a href="#!/{{parent.subjectType|cleanType}}" class="text-info">{{parent.subjectType}}</a></code>
                            &nbsp; <code class="text-warning">{{parent.predicate}}</code></span>
                        </p>
                    </div>
                </div>
                <!-- Direct triplets (children) -->
                <div class="col-xs-12 col-md-7 form-inline">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h5 class="text-center">{{entity.typeName}}</h5></div>
                      <div class="panel-body">

                        <div ng-repeat="t in entity.triples | filter : rdfHelp.triples.predicate">
                                <code class="text-warning">{{t.predicate}}</code>
                                <code><a class="text-success"
                                         href="#!/{{t.objectType|cleanType}}">{{t.objectType}}</a></code>
                                &nbsp;
                                <span class="label label-info">{{t.tripleCount}}</span>
                                <!-- Possible values -->
                                <select ng-if="t.literalType && t.values.length > 1" class="form-control">
                                    <option ng-repeat="value in t.values" value="{{value}}">{{value}}</option>
                                </select>
                                <input ng-if="t.literalType && t.values.length == 1" type="text" placeholder="{{t.values[0]}}" class="form-control"></input>
                        </div>                            
                      </div>
                    </div>                        

                </div>
            </div>
            <div class="bs-docs-example">
                <div ng-repeat="t in entity.triples | filter : rdfHelp.triples.predicate">
                    <code class="text-info">{{t.tripleSample}}</code>
                </div>
            </div>
            <div class="bs-docs-example">
                <div ng-repeat="path in entity.pathToOrigin">
                    <code class="text-info">{{path}} ?statement</code>
                </div>
            </div>
        </section>
    </div>
</div>