<!DOCTYPE html>
<html ng-app="main">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="neXtProt Help">
    <meta name="fragment" content="!" >
    <base href="./"/>

    <title>npHelp</title>

    <!-- Le css -->
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../dist/np-help.css"/>
    <link rel="stylesheet" type="text/css" href="demo.css"/>

    <script>
      // var BASE_SERVER="http://uat-web2:8080";
      var HELP_URL='rdfhelp.json';
      var HOME="home.md";
    </script>

    <script type="application/javascript" src="depends.js"></script>
    <script type="application/javascript" src="../dist/np-help.js"></script>
    <script type="application/javascript" src="demo.js"></script>


  </head>
  <body ng-controller="HelpCtrl">
    <!-- HEADER -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nextprot Help</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">API</a></li>
            <li><a href="#">RDF</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search..." ng-model="rdfHelp.triples.predicate">
          </form>
        </div>
      </div>
    </div>
    <!-- CONTENT -->
    <div class="container-fluid">
      <div class="row">
      <!-- LEFT PANE -->
        <div class="col-sm-4 col-lg-3 sidebar">
          <ul class="nav nav-sidebar">
            <li ng-class="{'active':isActiveElement('')}"><a href="#!">Home</a></li>
            <li ng-class="{'active':isActiveElement('faq')}"><a href="#!/faq">FAQ</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li ng-repeat="rh in rdfHelp | filter : rdfHelp.triples.predicate" ng-class="{'active':isActiveElement(rh.typeName.replace(':',''))}")>
              <a ng-href="#!/doc/{{rh.typeName|cleanType}}">
                <i class="icon-chevron-right"></i>{{rh.typeName|cleanType}}
                ({{rh.instanceCount}})
              </a>
            </li>            
          </ul>
        </div>
      <!-- CENTER PANE -->
        <div class="col-sm-8 col-sm-offset-4 col-lg-9 col-lg-offset-3 main" ng-view>

        </div>   
    </div>
  </div>
  </body>
</html>
